<!DOCTYPE html>
<html>
 <head>
    <title>Preguntas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
<body>

<div>
<p>Preguntas: <%= numeroPreg%></p>
<p>Comentarios: <%= coments%></p>
<p>Numero medio de comentarios por pregunta: <%= media%></p>
<p>Preguntas con comentario: <%= conComent%></p>
<p>Preguntas sin comentario: <%= sinComent%></p>


</div>

</body>
</html>